<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field">
    <input
      matInput
      [(ngModel)]="searchKey"
      placeholder="Search"
      autocomplete="off"
      (keyup)="applyFilter()"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      *ngIf="searchKey"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="service.projectListForFilter" matSort>
    <ng-container matColumnDef="projectId">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        ><b>Project ID</b></mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.projectId }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        ><b>Project Name</b></mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.projectName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectLocation">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        ><b>Project Location</b></mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{
        element.projectLocation
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectLead">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        ><b>Project Lead</b></mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.projectLead }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectType">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        ><b>Project Type</b></mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.projectType }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="client">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        ><b>Client</b></mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{
        element.client.clientName
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef><b>Actions</b></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)">
          <mat-icon>launch</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row
      *matFooterRowDef="['loading']"
      [ngClass]="{ hide: listData != null }"
    ></mat-footer-row>
    <mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{
        hide: !(listData != null && service.projectList.length == 0)
      }"
    ></mat-footer-row>
  </mat-table>

  <mat-paginator
    [pageSize]="5"
    aria-label="Select page"
    showFirstLastButtons
  ></mat-paginator>
</div>
