.dsbllld {
    input {
        pointer-events: none;
    }
}

.saca {
    color: #000;
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

mat-form-field{
    width: 100%;
}

.stepper-button-container {
    width: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

fieldset {
    width: 98%;
    margin-bottom: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
    margin-left: 0.2rem;
}

::ng-deep{
.justify-right .mat-grid-tile-content {
    justify-content: right !important;
    margin-right: 4rem;
    font-weight: bold;
}

.justify-left .mat-grid-tile-content {
    justify-content: left !important;
}
}