body{
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
$themeclr:#071877;
.wrap {
    padding: 50px;
    height: 100%;
    .tilte{
        h3 {
            font-size: 20px;
            padding-bottom: 20px;
            color: #000;
        }
    }
}
.form-group {
    padding: 40px 0 50px;
    border-top: 1px solid #fff;
    margin-top: 20px;
    // border-bottom: 1px solid #fff;
    .form-control{
        display: flex;
        padding-bottom: 25px;
        .left {
            width: 20%;
            label {
                color: #000;
                font-size: 17px;
            }
        }
        .right {
            width: 80%;
            input {
                width: 100%;
                box-sizing: border-box;
                padding: 11px;
                outline: none;
                background: #fff;
                color: #000;
                border-radius: 4px;
                border: 1px solid #3f51b5;
                font-size: 15px;
            }
        }
    }
    .badge{
        background: green;
        color: #fff;
        padding: 6px 10px;
        border-radius: 100px;
        font-size: 14px;
        margin-right: 5px;
        display: inline-block;
        &.red{
            background: orange;
            color: #000;
        }
    }
}
.mat-tab-label{
    width: 200px !important;
    text-align: center !important;
    opacity: 1 !important;
    background: #fff;
    margin-right: 25px;
    height: 35px !important;
    position: relative;
}
.mat-tab-label-active{
    background: #071877;
    color: #fff;
    &::after{
        border-left-color: $themeclr;
    }
}
.btn {
    text-align: right;
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    border-top: 2px solid #fff;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    box-shadow: 0px 10px 16px 8px #0000004d;
    box-sizing: border-box;
    button{
        background: green;
        color: #fff;
        border: none;
        padding: 12px 30px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 4px;
    }
}

/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div.container {
    margin: 0px 40px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.normal-form {
    margin: 10px;
}

.controles-container {
    width: 100%;
    padding: 5%;
}

.controles-container>* {
    width: 100%;
}

.add-bottom-padding {
    padding-bottom: 10px;
}


.button-row button {
    margin: 5px;
}

snack-bar-container.success {
    background-color: #5cb85c;
    color: #fff;
}


snack-bar-container.notification simple-snack-bar {
    font-size: 18px !important;
    font-weight: bold;
}

.hide {
    display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}

.search-div {
    margin: 10px;
}

.search-form-field {
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
    height: 32px;
    width: 32px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
