<!-- <div class="container">
    <p>home works!</p>
</div> -->
<div class="container">
<mat-card class="header-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-image"></div>
      <mat-card-title>{{mockData.employeeName}}</mat-card-title>
      <mat-card-subtitle>{{mockData.employeeDesignation}}</mat-card-subtitle>
    </mat-card-header>
    </mat-card>
    <div class="info-display">
        <div class="professional-info-card">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>{{mockData.professionalInfoTitle}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="cardContent">
                        <div class="info-display">
                            <span>{{mockData.managerTitle}} : &nbsp;</span>
                            <span>{{mockData.manager}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.designationTitle}} : &nbsp;</span>
                            <span>{{mockData.designation}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.employeeTypeTitle}} : &nbsp;</span>
                            <span>{{mockData.employeeType}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.departmentTitle}} : &nbsp;</span>
                            <span>{{mockData.department}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.roleTitle}} : &nbsp;</span>
                            <span>{{mockData.role}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.professionalEmailTitle}} : &nbsp;</span>
                            <span>{{mockData.professionalEmail}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.workPhoneTitle}} : &nbsp;</span>
                            <span>{{mockData.workPhone}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.skillsTitle}} : &nbsp;</span>
                            <span>{{mockData.skills}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.dojTitle}} : &nbsp;</span>
                            <span>{{mockData.doj}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.experienceTitle}} : &nbsp;</span>
                            <span>{{mockData.experience}}</span>
                        </div>
                        <div class="info-display">
                            <span>{{mockData.currentLocationTitle}} : &nbsp;</span>
                            <span>{{mockData.currentLocation}}</span>
                        </div>
                      </div>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="personal-info-card">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>{{mockData.personalInfoTitle}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="cardContent">
                    <div class="info-display">
                        <span>{{mockData.dobTitle}} : &nbsp;</span>
                        <span>{{mockData.dob}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.bloodGroupTitle}} : &nbsp;</span>
                        <span>{{mockData.bloodGroup}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.genderTitle}} : &nbsp;</span>
                        <span>{{mockData.gender}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.personalEmailTitle}} : &nbsp;</span>
                        <span>{{mockData.personalEmail}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.maritalStatusTitle}} : &nbsp;</span>
                        <span>{{mockData.maritalStatus}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.primaryPhoneNumberTitle}} : &nbsp;</span>
                        <span>{{mockData.primaryPhoneNumber}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.secondaryPhoneNumberTitle}} : &nbsp;</span>
                        <span>{{mockData.secondaryPhoneNumberTitle}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.primaryEmergencyContactNumberTitle}} : &nbsp;</span>
                        <span>{{mockData.primaryEmergencyContactNumber}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.secondaryEmergencyContactNumberTitle}} : &nbsp;</span>
                        <span>{{mockData.secondaryEmergencyContactNumber}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.permanentAddressTitle}} : &nbsp;</span>
                        <span>{{mockData.permanentAddress}}</span>
                    </div>
                    <div class="info-display">
                        <span>{{mockData.currentAddressTitle}} : &nbsp;</span>
                        <span>{{mockData.currentAddress}}</span>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>