<!-- <router-outlet></router-outlet> -->
<!-- <app-client-details></app-client-details> -->
<!--for Skill component -->
<!-- <app-skill-details></app-skill-details> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-skill-details></app-skill-details> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-project-details></app-project-details> -->
<hr>
<div class="row">
    <span class="col-4"></span>
    <app-employee-typeahead class="col-4"></app-employee-typeahead>
    <span class="col-4"></span>
</div>
<div class="row">
    <span class="col-4"></span>
    <app-client-typeahead class="col-4"></app-client-typeahead>
    <span class="col-4"></span>
</div>
<div class="row">
    <span class="col-4"></span>
    <app-project-typeahead class="col-4"></app-project-typeahead>
    <span class="col-4"></span>
</div>
<div class="row">
    <span class="col-4"></span>
    <app-skill-typeahead class="col-4"></app-skill-typeahead>
    <span class="col-4"></span>
</div>
<hr>